* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  align-content: center; */
  justify-content: center;
  height: 100vh;
  max-width: 800px;
  margin: auto;
}

body header {
  display: flex;
  justify-content: space-between;
}

body header .search {
  padding: 5px;
  width: 30%;
  outline: none;
  border: 1px solid #dddddd;
}

body header .show-selected {
  font-size: 16px;
}

body header #show-selected {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

body main {
  position: relative;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0px;
}

th {
  background-color: #dddddd;
  text-align: left;
  padding: 8px;
}

td {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #f5f1f1;
}

table .key-checkbox {
  width: 14px;
  cursor: pointer;
  margin-right: 10px;
}

table input,
select {
  padding: 5px;
  width: 80%;
  outline: none;
  border: 1px solid #f5f1f1;
  align-content: center;
}

/* table select {
  padding: 5px;
  width: 80%;
  outline: none;
  border: 1px solid #f5f1f1;
  align-content: center;
} */

button {
  background-color: dodgerblue;
  padding: 5px 10px;
  color: white;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0px;
  bottom: -30px;
}
